# Игнорируем папки настроек IDEA (во всех подпапках)
.idea/
*.iml
*.iws
*.ipr
~$*
*.tmp
*.gitignore.txt


# Игнорируем папки сборки Maven/Java
target/
out/
bin/

# Игнорируем настройки Maven wrapper
.mvn/
mvnw
mvnw.cmd